<%- include ("../partials/header.ejs") %>

<body>
    <div class="bg-green-900 flex flex-row p-6">
        <h5 class="text-4xl italic font-semibold tracking-wide lg:mx-10 sm:mx5 text-yellow-600">CashFlow</h5>
        <div class="flex flex-shrink flex-row justify-end w-10/12">
            <a href="/create" class="mx-4 lg:text-2xl text-white">Contact</a>
            <a href="FAQ" class="mx-4 lg:text-2xl text-white">FAQ.</a>
            <a href="about" class="mx-4 lg:text-2xl text-white">About</a>
        </div>
    </div>
<div class="content md:flex md:flex-row">
    <div class="left h-96 lg:h-screen text-center md:w-1/2 bg-blue-500 flex flex-col justify-center items-center" >
        <h2 class="lg:text-4xl lg:mb-4 sm:mb-2 sm:text-3xl text-black font-semibold">
            Make a quick transfer
        </h2>
        <form action="/success" class="flex text-left flex-col" method="POST">
            <label for="email">Sender's tag:</label>
            <input type="text" name="email" class="rounded h-8  w-64 text-black font-semibold text-center" placeholder="@Sideeq12" readonly/>
            <label for="text">Ammount</label>
            <select name="ammount" itemid="amount" class="rounded h-8  w-64 text-black font-semibold text-center">
                <option value="500">₦500</option>
                <option value="1000">₦1,000</option>
                <option value="2000">₦2,000</option>
                <option value="5000">₦5,000</option>
                <option value="10000">₦10,000</option>
                <option value="20000">₦20,000</option>
                <option value="50000">₦50,000</option>
            </select>
            <label for="Beneficiary tag">Beneficiary tag:</label>
            <input type="text" name="beneficiary" class="rounded h-8  w-64 text-black font-semibold text-center" required/>
            <label for="description">Description:</label>
            <textarea name="description" id="description" cols="30" class="h-12 p-1 font-semibold w-64 rounded" rows="10"></textarea>
            <button type="submit" class="bg-green-900 text-white text-center rounded w-64 h-8 mt-2"> Transfer now</button>
        </form></div>   
    <img src="./images/image2.svg" class="left h-96 lg:h-screen text-center md:w-1/2 bg-yellow-500" />
</div>

<%- include ("../partials/footer.ejs") %>