<%- include ("../partials/header.ejs") %>

<body>
    <div class="bg-green-900 flex flex-row p-6">
        <h5 class="text-4xl italic font-semibold tracking-wide lg:mx-10 sm:mx5 text-yellow-600">CashFlow</h5>
        <div class="flex flex-shrink flex-row justify-end w-10/12">
            <a href="#" class="mx-4 lg:text-2xl text-white">Support</a>
            <a href="/FAQ" class="mx-4 lg:text-2xl text-white">FAQ.</a>
            <a href="/about" class="mx-4 lg:text-2xl text-white">About</a>
        </div>
    </div>
 
    <div class="flex flex-col justify-center items-center">
       <img src="./images/suceess.svg"  class="item-center w-2/5 md:h-72  mt-10 mb-2 rounded-full"alt="">
       <h2 class="text-green-700 md:text-2xl font-semibold">Transaction Successfull !</h2>
       <div class="text-center p-4 mb-1 font-semibold">You have successfully transfered<span class="text-green-700 mx-1"><span class="align-top text-green-900 text-xs">₦</span><%- ammount %> </span> to <span><%- beneficiary %> <span>
   <br> <span class=" text-black text-opacity-75 font-semibold"> through CashFlow</span>.</div>
    <a href="/dashboard" class="p-2 rounded text-white bg-green-400 font-semibold mb-10">check dashboard</a>
    </div>
    

<%- include ("../partials/footer.ejs") %>