<%- include ("../partials/header.ejs") %>

<body>
    <div class="bg-green-900 flex flex-row p-6">
        <h5 class="text-4xl italic font-semibold tracking-wide lg:mx-10 sm:mx5 text-yellow-600">CashFlow</h5>
        <div class="flex flex-shrink flex-row justify-end w-10/12">
            <a href="#" class="mx-4 lg:text-2xl text-white">Support</a>
            <a href="/FAQ" class="mx-4 lg:text-2xl text-white">FAQ.</a>
            <a href="/about" class="mx-4 lg:text-2xl text-white">About</a>
        </div>
    </div>

    <div class="content md:flex md:flex-row">
       <img src="./images/notify1.svg" class="item-center" alt="">
    </div>
    

<%- include ("../partials/footer.ejs") %>