<%- include ("../partials/header.ejs") %>
<body>
    <div class="bg-red-500 flex flex-row p-6">
        <h5 class="text-4xl italic font-semibold tracking-wide mx-10">CashFlow</h5>
        <div class="flex flex-shrink flex-row justify-end w-10/12">
            <h4 class="mx-4 text-2xl text-white">Sign in</h4>
            <h4 class="mx-4 text-2xl text-white">FAQ.</h4>
            <h4 class="mx-4 text-2xl text-white">About</h4>
        </div>
    </div>
    <div class="body mx-auto md:flex">
        <div class="vector md:flex-shrink-0 w-full bg-hero-pattern"> Left and top</div>
        <div class="bg-red-300">Right and bottom</div>
    </div>

</body>
</html>